$login-bg: #ffb8b8;

.u-login{
  height: 100vh;
  width: 100vw;
  display:flex;
  align-items:center;
  justify-content: center;
  background: url('../assets/imgs/bg.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  overflow: hidden;
}

.u-land{
  --alpha: 0.7;
  width: 650px;
  height: var(--height);
  &__board{
    background: linear-gradient(90deg,rgba(#ffffff,0),rgba($login-bg,var(--alpha)) 30%,rgba(#ffffff,0));
    position: relative;
    height: 100%;
    padding: 40px 0 25px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    &--check{
      width: 250px;
      display: flex;
      justify-content: space-between;
      .left{
        span{
          margin-right: 10px;
          color: white;
          font-weight: 500;
          letter-spacing: 2px;
        }
      }
      .right{

      }
    }
  }
  &__btn{
    padding: 20px 0;
    background: linear-gradient(90deg,rgba(#ffffff,0),rgba($login-bg,var(--alpha)) 30%,rgba(#ffffff,0));
    position: relative;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    button {
      appearance: none;
      outline: 0;
      background-color: rgba(255, 255, 255, 0.4);
      border: 0;
      padding: 10px 0;
      color: #fefefe;
      text-shadow: 0 0 1px 2px rgba(#333333,0.8);
      border-radius: 3px;
      width: 250px;
      cursor: pointer;
      font-size: 18px;
      transition-duration: 0.25s;
      font-weight: 500;
      letter-spacing: 2px;
      &:active{
        background-color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}

.u-input{
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px 15px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
  &::placeholder{
    color: #fefefe;
  }
}

.u-checkbox {
  display: none;
}
.u-checkbox + label {
  vertical-align: text-bottom;
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 15px;
  border-radius: 10px;
  background-color: rgba(#bbb,0.6);
}
.u-checkbox + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #F7F4F4;
  box-shadow: 0 3px 1px rgba(0,0,0,0.05), 0 0px 1px rgba(0,0,0,0.3);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.u-checkbox:checked + label:before {
  content: '';
  position: absolute;
  left: 25px;
  background-color: rgba($login-bg,0.9);
}
.u-checkbox:checked + label {
  background: rgba(#ffffff,0.8);
}



// 动画 -----------------------------

