.u-profile{

}

.u-card-title{
  text-align: center;
  color: rgba(0,0,0,.4);
  font-size: 20px !important;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
  > i{
    margin-right: 4px;
  }
}
