$prefix: "p-";

$themeColor: #be2edd;
$themeColor1: #e056fd;
$themeColor2: #f368e0;
$themeBgColor: white;
$themeFontColor: #333;
$linkFontColor: #e84393;

$fontSize: 14px;

$grayColor: #808080;
$grayColor1: #d3d3d3;
$grayColor2: #eeeeee;
$grayColor3: #f3f3f3;

$maxWidth: 1000px;
